<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock title %}</title>
    <link href="{% static 'images/logo_ubtuit.png' %}" rel="icon">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

</head>
<body>
<style>
        job {
            background-color: #eaf3ff;
        }

 </style>
<div class="job">
    <div class="header">
       <div class="logo">
        <a href="https://www.ubtuit.uz/"> <!-- Bu yerni o'zingizga kerakli URL bilan almashtiring -->
            <img style="width:50px; height:50px;" src="{% static 'images/logo_ubtuit.png' %}" alt="no logo">
            TATU
            </a>
        </div>

        <div class="header-menu">
            <a href="{% url 'home' %}" class="active">Find Job</a>
            <a href="#">Company Review</a>
            <a href="#">Find Salaries</a>
        </div>

    </div>
    {% block content %}
    {% endblock content %}
        <div class="header">
        <div class="header-menu" >

            <a  href="#">Company Review</a>
            <a href="#">Find Salaries</a>
        </div>

    </div>
</div>
    <script src="{% static 'js/index.js' %}"></script>

</body>
</html>