{% extends 'main/base.html' %}
{% load static %}
{% block title %}Bosh sahifa{% endblock title %}


{% block content %}

 <div class="wrapper">
  <div class="main-container">
   <div class="searched-jobs">
    <div class="searched-bar">
    </div>
    <div class="job-cards">
     {% for vacancy in vacancies %}

     <div class="job-card">
         <a style="text-decoration:none;" href="{% url 'vacancy_detail' vacancy_id=vacancy.id %}">
            <div class="job-card-header">
               <div class="menu-dot"></div>
              </div>
             <div class="job-card-title text-gray-900 dark:text-gray-100 font-bold text-lg">
                 {{ vacancy.department }}
             </div>
             <div class="job-card-subtitle text-gray-700 dark:text-gray-300 text-sm">
                 {{ vacancy.position }}
             </div>
              <div class="job-detail-buttons">
               <button class="search-buttons detail-button">{{ vacancy.end_time }}</button>

              </div>
         </a>

<!--      <div class="job-card-buttons">-->
<!--       <button class="search-buttons card-buttons">Apply Now</button>-->
<!--       <button class="search-buttons card-buttons-msg">Messages</button>-->
<!--      </div>-->
     </div>
     {% empty %}
     <h3>No Vacancy</h3>
     {% endfor %}
    </div>

   </div>
  </div>
 </div>

{% endblock content %}
