{% extends 'main/base.html' %}
{% block title %} Muhammad Al-Хorazmiy nomidagi
Toshkent Axborot Texnologiyalari Universiteti Urganch filiali
Vakansiyalar Sayti {% endblock title %}
{% block content %}
    <div class="container mx-auto py-10">
        <h2 class="text-3xl font-bold text-center mb-8">Vakansiyalar</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
            {% for vacancy in vacancies %}
           <a href="{% url 'vacancy_detail' vacancy_id=vacancy.id %}" class="text-decoration-none">
            <div class="card shadow-lg border-0 rounded-3 p-4 mb-3">
                <div class="d-flex align-items-center justify-content-between">
                    <div>
                        <h5 class="fw-bold text-dark mb-1">{{ vacancy.department|truncatechars:30  }}</h5>
                        <p class="text-muted small">{{ vacancy.position }}</p>
                    </div>
                    <div class="menu-dot"></div>
                </div>
                <div class="d-flex justify-content-between align-items-center mt-3">
                    <span class="badge bg-primary p-2">{{ vacancy.end_time }}</span>
                    <button class="btn btn-success btn-sm px-3">Ko'rish</button>
                </div>
            </div>
        </a>


            {% empty %}
            <h3>No vacancy</h3>
            {% endfor %}
        </div>
    </div>

{% endblock content %}