{% extends 'main/base.html' %}
{% load static %}
{% block title %}Vacancy detail{% endblock title %}


{% block content %}
<style>
   body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fc;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: auto; /* Scroll qilishni yoqish */
}

.headers {
    background: #d9534f;
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus, select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.btn {
    background: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #218838;
}

.details-card {
    background: #f8f9fa;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-top: 20px;
}

.details-card h5 {
    font-size: 18px;
    color: #333;
    margin-bottom: 15px;
}

.details-card p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

.form-container {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}



</style>


<body>
    <div class="container my-5">
        <div class="row">
            <div class="col-12">
                   {% if vacancy.status %}

                    {% else %}
                 <div class="headers">
                  <h4>Ushbu vakansiya muddati tugagan</h4>
                </div>
                 {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="form-container">
                    <form method="post" enctype="multipart/form-data"> {% csrf_token %}
                        <div class="mb-3">
                            <label for="fullName" class="form-label">Ism familiya*</label>
                            <input type="tetpxt" class="form-control" id="fullName" placeholder="Ismingizni kiriting" name="full_name">
                        </div>
                        <div class="mb-3">
                            <label for="birthDate" class="form-label">Tug'ilgan sana*</label>
                            <input type="hidden" value="{{ vacancy.id }}" name="vacancy">
                            <input type="date" class="form-control" id="birthDate" name="birth_date">
                            {% if form.passport.errors %}
                            <div class="text-danger small">Tug'ulgan sanangizni to'g'ri kiritng!</div>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            <label for="phoneNumber" class="form-label">Telefon nomer*</label>
                            <input type="tel" class="form-control" id="phoneNumber" placeholder="Telefon nomeringizni kiriting" name="phone_number">
                        </div>
                     <div class="mb-3">
                        <label for="passport" class="form-label">Passport*</label>
                        <input type="file" class="form-control" id="passport" name="passport">
                        {% if form.passport.errors %}
                            {% for error in form.passport.errors %}
                                <div class="text-danger small">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>
                        <div class="mb-3">
                            <label for="education" class="form-label">Ta'lim darajangiz*</label>
                            {{ vacancy.education_level }}
                            <select class="form-select" id="education" name="education_level">
                                {% for value, display in education_levels %}
                                    <option value="{{ value }}">{{ display }}</option>
                                {% endfor %}
                            </select>
                        </div>

                    <div class="mb-3">
                        <label for="objective" class="form-label">Ma'lumotnoma (Objective)*</label>
                        <input type="file" class="form-control" id="objective" name="objective">
                        {% if form.objective.errors %}
                            {% for error in form.objective.errors %}
                                <div class="text-danger small">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        <label for="diploma" class="form-label">Diplom*</label>
                        <input type="file" class="form-control" id="diploma" name="diploma">
                        {% if form.diploma.errors %}
                            {% for error in form.diploma.errors %}
                                <div class="text-danger small">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        <label for="language_certificate" class="form-label">Til sertifikati</label>
                        <input type="file" class="form-control" id="language_certificate" name="language_certificate">
                        {% if form.language_certificate.errors %}
                            {% for error in form.language_certificate.errors %}
                                <div class="text-danger small">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        <label for="benefits" class="form-label">Imtiyozlar</label>
                        <input type="file" class="form-control" id="benefits" name="benefits">
                        {% if form.benefits.errors %}
                            {% for error in form.benefits.errors %}
                                <div class="text-danger small">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>
                        {% if vacancy.status %}
                          {% if document.status %}
                            <p>Siz vakansiya yubordingiz</p>
                            {% else %}
                            <button class="btn btn-success" type="submit">Saqlash</button>
                            {% endif %}
                        {% else %}

                        {% endif %}
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="details-card">
                    <h5>Vakansiya haqida batafsil</h5>
                    <p><strong>Lavozim:</strong> {{ vacancy.position }}</p>
                    <p><strong>Bo'lim:</strong> {{ vacancy.department }}</p>
                    <p><strong>Stavka:</strong> {{ vacancy.rate }}</p>
                    <p><strong>Maosh:</strong> {{ vacancy.salary }}</p>
                    <p><strong>Tajriba:</strong>
                        {% if vacancy.experience %}
                            {{ vacancy.experience }}
                        {% else %}
                        -
                        {% endif %}
                    </p>
                    <p><strong>Ish grafigi:</strong> {{ vacancy.work_schedule }}</p>
                    <p><strong>Talablar:</strong> {{ vacancy.requirement }}</p>
                    <p><strong>Ochilgan vaqt:</strong> {{ vacancy.opening_time }}</p>
                    <p><strong>Tugash vaqti:</strong> {{ vacancy.end_time }}</p>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}