{% extends 'main/base.html' %}
{% load static %}
{% block title %}Vacancy detail{% endblock title %}


{% block content %}
<div class="container py-5">
        <div class="row g-4">
            <!-- Forma qismi -->
            <div class="col-md-6">
                <div class="card shadow-sm p-4">
                    <h3 class="mb-3 text-primary">Vakansiya Uchun Ariza</h3>
                    <form method="post" enctype="multipart/form-data"> {% csrf_token %}
                        <div class="mb-3">
                            <label for="fullName" class="form-label">Ism familiya*</label>
                            <input type="tetpxt" class="form-control" id="fullName" placeholder="Ismingizni kiriting" name="full_name">
                        </div>
                        <div class="mb-3">
                            <label for="birthDate" class="form-label">Tug'ilgan sana*</label>
                            <input type="hidden" value="{{ vacancy.id }}" name="vacancy">
                            <input type="date" class="form-control" id="birthDate" name="birth_date">
                            {% if form.passport.errors %}
                            <div class="text-danger small">Tug'ulgan sanangizni to'g'ri kiritng!</div>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            <label for="phoneNumber" class="form-label">Telefon nomer*</label>
                            <input type="tel" class="form-control" id="phoneNumber" placeholder="Telefon nomeringizni kiriting" name="phone_number">
                        </div>
                     <div class="mb-3">
                        <label for="passport" class="form-label">Passport*</label>
                        <input type="file" class="form-control" id="passport" name="passport">
                        {% if form.passport.errors %}
                            {% for error in form.passport.errors %}
                                <div class="text-danger small">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>
                        <div class="mb-3">
                            <label for="education" class="form-label">Ta'lim darajangiz*</label>
                            {{ vacancy.education_level }}
                            <select class="form-select" id="education" name="education_level">
                                {% for value, display in education_levels %}
                                    <option value="{{ value }}">{{ display }}</option>
                                {% endfor %}
                            </select>
                        </div>

                    <div class="mb-3">
                        <label for="objective" class="form-label">Ma'lumotnoma (Objective)*</label>
                        <input type="file" class="form-control" id="objective" name="objective">
                        {% if form.objective.errors %}
                            {% for error in form.objective.errors %}
                                <div class="text-danger small">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        <label for="diploma" class="form-label">Diplom*</label>
                        <input type="file" class="form-control" id="diploma" name="diploma">
                        {% if form.diploma.errors %}
                            {% for error in form.diploma.errors %}
                                <div class="text-danger small">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        <label for="language_certificate" class="form-label">Til sertifikati</label>
                        <input type="file" class="form-control" id="language_certificate" name="language_certificate">
                        {% if form.language_certificate.errors %}
                            {% for error in form.language_certificate.errors %}
                                <div class="text-danger small">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        <label for="benefits" class="form-label">Imtiyozlar</label>
                        <input type="file" class="form-control" id="benefits" name="benefits">
                        {% if form.benefits.errors %}
                            {% for error in form.benefits.errors %}
                                <div class="text-danger small">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>
                        {% if vacancy.status %}
                          {% if document.status %}
                            <p>Siz vakansiya yubordingiz</p>
                            {% else %}
                            <button class="btn btn-success" type="submit">Saqlash</button>
                            {% endif %}
                        {% else %}

                        {% endif %}
                    </form>
                </div>
            </div>

            <!-- Vakansiya ma'lumotlari qismi -->
            <div class="col-md-6">
                <div class="card shadow-sm p-4">
                    <h3 class="text-primary">Vakansiya haqida batafsil</h3>
                    <p><strong>Lavozim:</strong> {{ vacancy.position }}</p>
                    <p><strong>Bo'lim:</strong> {{ vacancy.department }}</p>
                    <p><strong>Stavka:</strong> {{ vacancy.rate }}</p>
                    <p><strong>Maosh:</strong> {{ vacancy.salary }}</p>
                    <p><strong>Tajriba:</strong>
                        {% if vacancy.experience %}
                            {{ vacancy.experience }}
                        {% else %}
                        -
                        {% endif %}
                    </p>
                    <p><strong>Ish grafigi:</strong> {{ vacancy.work_schedule }}</p>
                    <p><strong>Talablar:</strong> {{ vacancy.requirement }}</p>
                    <p><strong>Ochilgan vaqt:</strong> {{ vacancy.opening_time }}</p>
                    <p><strong>Tugash vaqti:</strong> {{ vacancy.end_time }}</p>
                     <!-- Muddati tugagan xabar -->
                    {% if vacancy.status %}

                    {% else %}
                    <div class="alert alert-danger mt-3 text-center">
                        <strong>Diqqat!</strong> Ushbu vakansiya muddati tugagan.
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}