{% extends 'main/base_other.html' %}
{% load static %}
{% block title %}Vacancy detail{% endblock title %}


{% block content %}
<div class="container py-5">
        <div class="row g-4">
            <!-- Forma qismi -->
            <div class="col-md-6">
                <div class="card shadow-sm p-4">
                    <h3 class="mb-3 text-primary">Vakansiya Uchun Ariza</h3>
                    <form method="post" enctype="multipart/form-data"> {% csrf_token %}
                        <input type="hidden" value="{{ vacancy.id }}" name="vacancy">
                     <div class="mb-3">
                        <label for="passport" class="form-label">Passport*</label>
                        <input type="file" class="form-control" id="passport" name="passport">
                        {% if form.passport.errors %}
                            {% for error in form.passport.errors %}
                                <div class="text-danger small">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>
                        <div class="mb-3">
                            <label for="education" class="form-label">Ta'lim darajangiz*</label>
                            {{ vacancy.education_level }}
                            <select class="form-select" id="education" name="education_level">
                                {% for value, display in education_levels %}
                                    <option value="{{ value }}">{{ display }}</option>
                                {% endfor %}
                            </select>
                        </div>

                    <div class="mb-3">
                        <label for="objective" class="form-label">Ma'lumotnoma (Objective)*</label>
                        <input type="file" class="form-control" id="objective" name="objective">
                        {% if form.objective.errors %}
                            {% for error in form.objective.errors %}
                                <div class="text-danger small">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        <label for="diploma" class="form-label">Diplom*</label>
                        <input type="file" class="form-control" id="diploma" name="diploma">
                        {% if form.diploma.errors %}
                            {% for error in form.diploma.errors %}
                                <div class="text-danger small">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        <label for="language_certificate" class="form-label">Til sertifikati</label>
                        <input type="file" class="form-control" id="language_certificate" name="language_certificate">
                        {% if form.language_certificate.errors %}
                            {% for error in form.language_certificate.errors %}
                                <div class="text-danger small">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        <label for="benefits" class="form-label">Imtiyozlar</label>
                        <input type="file" class="form-control" id="benefits" name="benefits">
                        {% if form.benefits.errors %}
                            {% for error in form.benefits.errors %}
                                <div class="text-danger small">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>
                        {% if vacancy.status %}
                          {% if document.status %}
                            <p>Siz vakansiya yubordingiz</p>
                            {% else %}
                            <button class="btn btn-success" type="submit">Saqlash</button>
                            {% endif %}
                        {% else %}

                        {% endif %}
                    </form>
                    <div id="formSpinner" class="d-none text-center mt-3">
                        <div class="spinner-border text-primary" role="status">
                            <span class="visually-hidden">Yuklanmoqda...</span>
                        </div>
                        <p>Yuklanmoqda, iltimos kuting...</p>
                    </div>

                </div>
            </div>

            <!-- Vakansiya ma'lumotlari qismi -->
            <div class="col-md-6">
                <div class="card shadow-sm p-4">
                    <h3 class="text-primary">Vakansiya haqida batafsil</h3>
                    <p><strong>Lavozim:</strong> {{ vacancy.position }}</p>
                    <p><strong>Bo'lim:</strong> {{ vacancy.department }}</p>
                    <p><strong>Stavka:</strong> {{ vacancy.rate }}</p>
                    <p><strong>Maosh:</strong> {{ vacancy.salary }}</p>
                    <p><strong>Tajriba:</strong>
                        {% if vacancy.experience %}
                            {{ vacancy.experience }}
                        {% else %}
                        -
                        {% endif %}
                    </p>
                    <p><strong>Ish grafigi:</strong> {{ vacancy.work_schedule }}</p>
                    <p><strong>Talablar:</strong> {{ vacancy.requirement }}</p>
                    <p><strong>Ochilgan vaqt:</strong> {{ vacancy.opening_time }}</p>
                    <p><strong>Tugash vaqti:</strong> {{ vacancy.end_time }}</p>
                    <p>
                      <strong><i class="bi bi-people-fill text-primary"></i> Ariza yuborganlar:</strong>
                        {% if document_count %}
                            {{ document_count }} ta
                        {% else %}
                            0 ta
                        {% endif %}
                    </p>
                     <!-- Muddati tugagan xabar -->
                    {% if vacancy.status %}

                    {% else %}
                    <div class="alert alert-danger mt-3 text-center">
                        <strong>Diqqat!</strong> Ushbu vakansiya muddati tugagan.
                    </div>
                    {% endif %}
                    <div class="text-left">
                        <strong>Obyektivkani namunasini yuklab olish: </strong> <a href="http://job.ubtuit.uz/myFiles/%D0%9D%D0%B0%D0%BC%D1%83%D0%BD%D0%B0%20%D0%BE%D0%B1%D1%8A%D0%B5%D0%BA%D1%82%D0%B8%D0%B2%D0%BA%D0%B0.doc">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                          <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                          <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
                        </svg>
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const form = document.querySelector('form');
        const spinner = document.getElementById('formSpinner');
        const submitButton = form.querySelector('button[type="submit"]');

        form.addEventListener('submit', function (event) {
            event.preventDefault(); // Forma yuborilishini oldini olish
            if (spinner) spinner.classList.remove('d-none');
            if (submitButton) submitButton.disabled = true;

            // 3 soniya kutish
            setTimeout(function() {
                // Formani yuborish
                form.submit();
            }, 3000); // 3000ms = 3 soniya
        });
    });
</script>


{% endblock content %}

